/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/images/banner/*
/public/images/price-list/*
/public/images/products-img/*
/public/images/our-work/*
!/public/images/our-work/.gitkeep
!/public/images/banner/.gitkeep
!/public/images/price-list/.gitkeep
!/public/images/products-img/.gitkeep